/* Give your page a fun background color */
body {
  background-color: #F4F1DE;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #E07A5F;
}
footer {
  background-color: #E07A5F;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  color: white;
}
/* Make your p tag a different color and italic */
p {
  color: white;
  font-style: italic;
  text-align: center;
}
/* Put a border around your image */
img {
  max-width: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: #3D405B;
  border-radius: 10%;
}
/* Change the font-family of your list */
ul {
  font-family: sans-serif;
}
